.header a.active {
    color: #ff565b;
    background-color: #ffffff;
    border-top: 3px solid #ff565b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav {
    transition: 1s;
    overflow-y: hidden;
}

@media  screen and  (max-width: 765px) {
    .header a.active {
        color: #ff565b;
        background-color: inherit;
        border-top: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
